server:
  port: 8080
database:
  host: localhost
  port: 5432
  username: username
  password: pwd
  dbname: billing
api:
  loan_creation:
    req_timeout_in_ms: 2000
  loan_schedule:
    req_timeout_in_ms: 1000
  loan_outstanding:
    req_timeout_in_ms: 1000
  delinquency:
    req_timeout_in_ms: 1000
  payment:
    req_timeout_in_ms: 1000